.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  margin: 10vh 0 40vh 0;
}

.container__yes_no {
  font-size: 8rem;
  font-weight: bold;
}

.container__button {
  background: #21ba45;
  color: white;
  border: none;
  width: 10rem;
  height: 3rem;
  border-radius: 0.5rem;
}

.container__button:hover {
  background: green;
}

.container__button:active {
  transform: scale(0.95);
}

.container__anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
}

.container__anchor:hover {
  background-color: var(--secundary-color);
}

.change_color_green {
  animation: change-color-green 1s forwards;
}

.change_color_red {
  animation: change-color-red 1s forwards;
}

@keyframes change-color-green {
  from {
    color: var(--secundary-color);
  }
  to {
    color: #21ba45;
  }
}

@keyframes change-color-red {
  from {
    color: var(--secundary-color);
  }
  to {
    color: red;
  }
}
