.card {
  display: grid;
  margin: 0 1.5rem;
  grid-column: 1fr;
}

.card__image {
  width: 100%;
  padding: 2.5rem;
}

/* .card__buy {
  background-color: crimson;
} */

.card__title {
  font-size: 2rem;
}

.card__price {
  font-size: 1.6rem;
  padding-top: 1rem;
}

.card__sku {
  display: flex;
  background: var(--secundary-color);
  font-size: 1.2rem;
  padding: 0.5rem 0.8rem;
  margin-top: 0.2rem;
  justify-self: start;
  border-radius: 0.5rem;
}

.card__form {
  margin-top: 0.6rem;
}

.card__form__input {
  border: 1px solid var(--secundary-color);
  height: 4rem;
  padding: 1rem;
  width: 60%;
  font-size: 1.8rem;
}

.card__form__input::placeholder {
  font-size: 1.8rem;
}

.card__form__button {
  position: relative;
  top: -0.15rem;
  margin-top: 0.6rem;
  height: 3.95rem;
  width: 40%;
  background: var(--button-color);
  color: white;
  border: none;
}

.card__form__button:hover {
  background: green;
  cursor: pointer;
}

.card__details {
  display: grid;
  grid-gap: 2rem;
  margin-top: 2rem;
  font-size: 1.65rem;
  border-bottom: 0.1rem solid var(--secundary-color);
}

.card__details__description {
  margin-bottom: 1.5rem;
}

.card__attributes {
  display: grid;
  border: 0.1rem solid var(--secundary-color);
  font-size: 1.7rem;
  margin-top: 2rem;
}

.card__attributes__title {
  padding: 1rem;
  border-bottom: 0.1rem solid var(--secundary-color);
  font-size: 1.9rem;
  background-color: var(--secundary-color);
}
.card__attributes__shape {
  padding: 1rem 1rem 0 1rem;
  font-weight: bold;
}
.card__attributes__shape__value {
  padding: 1rem;
  border-bottom: 0.1rem solid var(--secundary-color);
}
.card__attributes__hardiness {
  padding: 1rem 1rem 0 1rem;
  font-weight: bold;
}
.card__attributes__hardiness__value {
  padding: 1rem;
  border-bottom: 0.1rem solid var(--secundary-color);
}

.card__attributes__taste {
  padding: 1rem 1rem 0 1rem;
  font-weight: bold;
}
.card__attributes__taste__value {
  padding: 1rem;
}

@media (min-width: 700px) {
  .card {
    grid-template-areas:
      "a b"
      "c c"
      "d d";
  }

  .picture {
    grid-area: a;
  }

  .card__buy {
    grid-area: b;
    align-self: center;
  }

  .card__details {
    grid-area: c;
  }

  .card__attributes {
    grid-area: d;
  }

  .card__sku {
    display: inline-block;
  }

  .card__attributes {
    grid-template-areas:
      "attributes attributes"
      "shape shape_value"
      "hardiness hardiness_value"
      "taste taste_value";
  }

  .card__attributes__title {
    grid-area: attributes;
  }

  .card__attributes__shape {
    grid-area: shape;
    border-bottom: 0.1rem solid var(--secundary-color);
    border-right: 0.1rem solid var(--secundary-color);
  }
  .card__attributes__shape__value {
    grid-area: shape_value;
  }
  .card__attributes__hardiness {
    grid-area: hardiness;
    border-bottom: 0.1rem solid var(--secundary-color);
    border-right: 0.1rem solid var(--secundary-color);
  }
  .card__attributes__hardiness__value {
    grid-area: hardiness_value;
  }
  .card__attributes__taste {
    grid-area: taste;
    border-right: 0.1rem solid var(--secundary-color);
  }
  .card__attributes__taste__value {
    grid-area: taste_value;
  }
}
